<div class="description-section page-width">
  <div class="description-section-container">
    <div class="description">
      <h1>title</h1>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
    </div>
    <div class="video"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Description & Video",
    "presets": [
      {
        "name": "Description & Video"
      }
    ]
  }
{% endschema %}