<div class="description-section page-width">
  <div class="description-section-container">
    <div class="description">
      <h1>title</h1>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
    </div>
    <div class="video">
      <iframe
        width="100%"
        src="//www.youtube.com/embed/f9w4AA5MdOU?rel=0&controls=0&showinfo=0&autoplay=1&autopause=0&mute=1&loop=1&playlist=f9w4AA5MdOU"
        frameborder="0"></iframe>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Description & Video",
    "presets": [
      {
        "name": "Description & Video"
      }
    ]
  }
{% endschema %}