{% liquid
  assign title = section.settings.title
  assign description = section.settings.description
  assign video_url = section.settings.video_url
%}

<div class="description-section page-width">
  <div class="description-section-container">
    <div class="description">
      <h1>{{ title }}</h1>
      {{ description }}
    </div>
    <div class="video">
      <iframe
        width="100%"
        src="{{ video_url.url }}"
        frameborder="0"></iframe>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Description & Video",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      }, {
        "type": "video",
        "id": "video",
        "label": "Video"
      }, {
        "type": "video_url",
        "id": "video_url",
        "label": "Video Url",
        "accept": ["youtube", "vimeo"]
      }
    ],
    "presets": [
      {
        "name": "Description & Video"
      }
    ]
  }
{% endschema %}