<div class="logo-list-section">
  <div class="logo-list-container page-width">
    <div class="logo-list-item">a</div>
    <div class="logo-list-item">b</div>
    <div class="logo-list-item">v</div>
    <div class="logo-list-item">v</div>
  </div>
</div>

{% schema %}
  {
    "name": "logo-list-section",
    "presets": [
      {
        "name": "Logo List section"
      }
    ]
  }
{% endschema %}