.header__active-menu-item {
    text-decoration: none !important;
}

.header__menu-item:hover span {
    text-decoration: none !important;
}

/* .slider-buttons, .slider-button {
    display: flex !important;
} */