/* Header */

.header__active-menu-item {
    text-decoration: none !important;
}

.header__menu-item:hover span {
    text-decoration: none !important;
}

/* End Header */

/* MAIN PRODUCT */
.border-bottom {
    border-bottom: 2px black solid;
}

.product__media-wrapper {
    max-width: 55% !important;
}

.product__info-wrapper {
    max-width: 42% !important;
    color: black;
}

.main-product-tags {
    margin: 1em 0;
    color: black;
}

.main-product__collection {
    text-decoration: underline;
    cursor: pointer;
}

.main-product__media-gallery {
    display: grid !important;
    grid-template-columns: repeat(12, 1fr);
}

.main-product__media-gallery .slider-mobile-gutter {
    grid-column: span 10;
}

.main-product__media-gallery .thumbnail-slider {
    grid-column: span 2;
    padding-right: 1em;
}

.thumbnail-list {
    display: flex !important;
    flex-direction: column;
    flex-wrap: unset !important;
}

/* Product Info */
.product__rating-share {
    display: flex;
    justify-content: space-between;
}

.rating-text {
    display: inline !important;
    font-size: 10px !important;
    color: #000000 !important;
}

.product__title-custom {
    font-family: 'IowanOldSt BT';
    font-style: normal;
    font-size: 38px;
    line-height: 114%;
    width: 60%;
}

.product__description ul {
    padding-left: 0 !important;
    list-style-image: url('./check.png');
}

.price-custom {
    border-bottom: 3px black solid;
    padding-bottom: 1em;
}

.price-item-custom {
    font-size: 24px;
}

.product-form__input input[type=radio] + label {
    font-size: 10px !important;
    padding: 1.8rem 2rem !important;
    font-weight: 600;
}

.product-form__input input[type=radio]:checked+label {
    border: 1px black solid;
    background-color: rgba(248, 248, 248, 1) !important;
    color: #000000 !important;
}

.product-form__quantity {
    width: 38%;
    display: inline-block;
    min-width: 12rem !important;
}

.quantity__input-custom {
    border: 1px solid rgba(159, 159, 159, 1);
    padding: 0.8em;
}

.variant-radios-custom {
    width: 60%;
    display: inline-block;
}

/* Product Recommedation */
.list-unstyled-custom {
    flex-direction: row !important;
}

.card__inner.color-background-2.gradient.ratio {
    display: none;
}

.card.card--standard.card--media.card--horizontal {
    background: #f8f8f8;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.card-information {
    text-align: center !important;
    font-weight: 600;
}

.complementary-slide .card-wrapper {
    width: 10em;
}

.card-information .price__regular span {
    color: #000000 !important;
    font-size: 10px;
}

.card-information .price__regular span::before {
    content: "+";
}

.card__content .card__information h3.card__heading {
    text-transform: uppercase;
    font-weight: 600;
}

.product-form__buttons {
    max-width: 100% !important;
}

.product-form__buttons button {
    height: 3.5em;
    background-color: #BED3E4;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

.payment-methods {
    text-align: center;
    font-size: 10px;
    padding: 1em 0;
}

/* ENDS MAIN PRODUCT */

