.header__active-menu-item {
    text-decoration: none !important;
}

.header__menu-item:hover span {
    text-decoration: none !important;
}

/* .thumbnail-list {
    display: flex !important;
    flex-direction: column;
    width: 10%;
} */